*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    align-items: center;
    background: #e3f9ff;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 20px;
}

.calculator form input{
    border: 0;
    box-shadow: -5px -5px 10px rgba(250,250,250,0.2), 5px 5px 10px rgba(0,0,0,0.2);
    background:transparent;
    border-radius:10px;
    color:#fff;
    cursor: pointer;
    font-size:20px;
    height: 60px;
    margin:10px;
    outline: 0;
    width: 60px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    box-shadow: none;
    flex: 1;
    font-size: 45px;
    text-align: right;
}

form input.equal{
    width: 140px ;
}

form input.dif-color{
    color: #FF8C00;
} 